@charset "utf-8";
/* CSS Document */
p {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 20px;
	line-height: 24px;
	width: 600px;
	padding: 15px;
	text-align: left;

}
h2 {
	font-size: 28px;
	color: darkred;
	padding: 15px;
}

h1 {
	font-size: 40px;
	padding: 15px;
	color: darkred
}
h3 {font-size: 28px;
padding: 15px;
}
body {
	font-size: 20px;
	padding: 15px;
}
img {
	height: 400px;
	
}